.App {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #d5f7e2;
}

nav {
  padding: 10px;
  background-color: rgb(170, 169, 169);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  padding-left: 70px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  color: green;
  text-decoration: underline;
}